<!DOCTYPE html>
<html>
  <head>
    <title>QandA Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class=body_wrapper>
      <%= yield %>
    </div>
  </body>
</html>

<!-- Why do you have to tell the file here about layouts/nav but under the posts folder you don't?  -->
